h1{
	text-align: center;
}
body{
	background-color: white;
	background-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
	color: #404040;
	background-repeat: repeat;
	background-attachment: scroll;
	font-size: 11pt;
	font-family: Georgia,Garamond,serif;
}
p{
	display: block;
	font-style: italic;
	background-color: #FFFFC8;
	margin-left: 30pt;
	font-size: 13pt;
}
#demo{
	overflow: hidden;
	width: 900px;
	height: 260px;
	top: 485px;
	left: 465px;
	position: absolute;
}
table{
	width: 900px;
	border: 0;
	padding: 0;
	border-spacing: 0;
}
td{
	text-align: center;
	height: 260px;
	width: 320px;
}
img{
	width: 300px;
	height: 250px;
	border: 0;
}
#demo2{
	width: 1px;
}
#demo1{
	vertical-align: top;
}