h1,h2{
	color: #A4A400;
	background-color: #F0F0F0;
	font-family: Century,Futura,Verdana,serif;	
	text-decoration: underline;
	letter-spacing: 0.2em; /*加宽字母间的距离*/
}
h1{
	font-size: 22pt;
	font-weight: bold;
	text-align: center;
}
h2{
	font-size: 18pt;
	font-weight: unset;     /*默认是bold。。。*/
	text-align: left;
}


body{
	background-color: white;
	background-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
	color: #404040;
	background-repeat: repeat;
	background-attachment: fixed;
	font-size: 11pt;
	font-family: Georgia,Garamond,serif;
}

#comment,#comment2{
	display: block;
	font-style: italic;
	background-color: #FFFFC8;
	margin-left: 30pt;  /*使用padding有瑕疵*/
}

a{
	color: #A4A400;         /*链接字体变颜色*/
}

ul{
	list-style-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif");  /*第二个ul列表中前面符号变空心*/
}

img{
	border-width: 0px 0px 0px 0px;
}

#BacktoTop{
	position: fixed;
	right: 10px;
	bottom: 10px;
}